result
.direnv

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

nimcache
outputExpected.txt
outputGotten.txt
testresults
tests/megatest
tests/megatest.nim
testresults.html
tests/commands/test_gc
tests/commands/test_rebuild
tests/commands/test_build
